OpenAI-Image-Analyzer/OpenAI_Image_Analizer.json
{
  "name": "OpenAI Image Analizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18N7AJb3uMoA7Rj09f-O_WpMwNV_yboun",
          "mode": "list",
          "cachedResultName": "00.predict-play",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18N7AJb3uMoA7Rj09f-O_WpMwNV_yboun"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "2f44cdd9-9f21-4061-8ae0-cc894f79ed57",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ePqHOc1KhKDMbXEE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "1ac59b5c-d077-4bcd-a9a6-c180b2d16455",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "111aa240-0d41-48aa-93d6-b5a88e0f2381",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -40
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18N7AJb3uMoA7Rj09f-O_WpMwNV_yboun",
          "mode": "list",
          "cachedResultName": "00.predict-play",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18N7AJb3uMoA7Rj09f-O_WpMwNV_yboun"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "47d3bf22-f002-4f81-92d3-f8c89ec8211a",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ePqHOc1KhKDMbXEE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "5893d3ef-f434-445d-a6c0-6e1f144fdfb0",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -180,
        100
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ePqHOc1KhKDMbXEE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "이 이미지에서 텍스트를 읽고 다음 정보를 추출해주세요.\n반드시 완전한 JSON 형식으로 응답해주세요.\n\n추출할 정보:\n1. 글에서 언급된 날짜를 찾아 YYYY-MM-DD 형식으로 표시\n2. 파일 이름: 실제 파일 이름\n3. 글의 내용을 분석하여 다음 카테고리 중 하나로 분류: 금, 금리, 주식, 부동산\n4. 원문 텍스트 전체를 추출\n\n응답 형식:\n{\n  \"date\": \"YYYY-MM-DD\",\n  \"filename\": \"파일이름\",\n  \"category\": \"카테고리명\",\n  \"desc\": \"원문텍스트\"\n}\n\n필수 확인사항:\n1. 모든 문자열은 반드시 따옴표(\")로 닫아주세요\n2. desc 필드의 텍스트가 중간에 잘리지 않도록 해주세요. \n3.  desc 필드의 텍스트는 완전한 문장으로 끝나야 합니다. \n4. 마지막에 반드시 중괄호(})를 닫아주세요\n5. 모든 JSON 구조를 완전히 닫아주세요. \n6. 모든 줄바꿈은 \\\\n으로 처리해주세요\n7. 불완전한 문장은 제외해주세요. \n8.  마지막 문자가 백슬래시(\\)로 끝나지 않도록 해주세요",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        100,
        -120
      ],
      "id": "5e6b3d0d-59f4-4907-a01b-500442ce71ff",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "j59Aj1T2U7nAuL02",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12vaVr0izoR_v23eEwRzqOCtoXuhOXixaHGfQPPbkrrc",
          "mode": "list",
          "cachedResultName": "측노리",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12vaVr0izoR_v23eEwRzqOCtoXuhOXixaHGfQPPbkrrc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12vaVr0izoR_v23eEwRzqOCtoXuhOXixaHGfQPPbkrrc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Category": "={{$json.category}}",
            "Date": "={{$json.date}}",
            "Desc": "={{ $json.desc }}",
            "FileName": "={{ $json.filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Desc",
              "displayName": "Desc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        -120
      ],
      "id": "b77d8f1c-faae-49e8-85f6-3eb328c7ed01",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sw0dmuyvb6HtgAyf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.all()[0].json;\nlet content = response.content;\n\n// 날짜, 파일명, 카테고리 추출\nconst dateMatch = /\"date\":\\s*\"([^\"]+)\"/.exec(content);\nconst filenameMatch = /\"filename\":\\s*\"([^\"]+)\"/.exec(content);\nconst categoryMatch = /\"category\":\\s*\"([^\"]+)\"/.exec(content);\n\n// desc 추출을 위한 개선된 정규식\nconst descMatch = content.match(/\"desc\":\\s*\"([\\s\\S]*?)(?=\",|\"})/) || \n                 content.match(/\"desc\":\\s*\"([\\s\\S]*?)$/);  // 문자열 끝까지 매칭\n\nreturn {\n    json: {\n        date: dateMatch ? dateMatch[1] : '',\n        filename: $('Download File').all()[0].json.file_name,\n        category: categoryMatch ? categoryMatch[1] : '',\n        desc: descMatch ? descMatch[1]\n            .replace(/\\\\n/g, ' ')  // 줄바꿈을 공백으로 변환\n            .replace(/\\\\/g, '')    // 남은 백슬래시 제거\n            .replace(/\\s+/g, ' ')  // 연속된 공백을 하나로 변환\n            .trim() : ''\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -120
      ],
      "id": "891835c7-6ed3-4fc7-861a-02ff47638544",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0d8b066-9295-4e1f-bc92-5ea34fe60c46",
              "leftValue": "{{$json[\"mimeType\"]}}",
              "rightValue": "image/",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -680,
        360
      ],
      "id": "ee8b16a3-38f3-45f1-b9dc-48545839ce24",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -340,
        -60
      ],
      "id": "ac01c5b9-2e75-48db-9326-f0006e20a5d4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Limitation \n * File Created node runs for only one item per a minute.\n * Loop Over items doesn't seem to process all the number of items. \n * For example, if more than one files are put onto the folder, only the first item is processed. ",
        "height": 560,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1240,
        -300
      ],
      "id": "8f5d1764-eecd-449b-a52f-bcfe3058f64e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Text extraction with OpenAI vision model\n * GPT4-O-mini \n * Extract text as a structured format from a given image \n * Regural expression is used for json formatting\n * Update corresponding google-sheet column ",
        "height": 360,
        "width": 780,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ],
      "id": "67f30d5b-57f9-4166-9a34-1448f3f53a88",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3f30af3-38c0-42f1-b55c-4e715ccb1430",
  "meta": {
    "instanceId": "bba54e70d6282ae807fcf4aa81c048fd0e4b69be302c48875e79d29e97cf78a6"
  },
  "id": "aFGKVsQBMXynRxJ7",
  "tags": []
}